doctype html
html
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport")
		title= title
		link(rel="stylesheet" href="/bootstrap/css/bootstrap.min.css")
		link(rel="stylesheet" href="/stylesheets/animate.css")
		link(rel="stylesheet" href="/stylesheets/font-awesome.min.css")
		link(rel="stylesheet" href="/stylesheets/ionicons.min.css")
		link(rel="stylesheet" href="/stylesheets/AdminLTE.css")
		link(rel="stylesheet" href="/stylesheets/style.css")
		link(rel="stylesheet" href="/stylesheets/skins/_all-skins.css")
	body.skin-blue-light.fixed
		block content
		
		// Jquery
		script(src="/plugins/jquery-1.11.3.min.js")
		// Jquery UI
		script(src="/plugins/jQueryUI/jquery-ui.min.js")
		script(src="/plugins/jquery-1.11.3.min.js")
		// datepicker
		script(src="/plugins/datepicker/bootstrap-datepicker.js")
		// Bootstrap WYSIHTML5
		script(src="/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js")
		// Slimscroll
		script(src="/plugins/slimScroll/jquery.slimscroll.min.js")
		// Lodash
		script(src="/plugins/lodash.min.js")
		// Boostrap
		script(src="/plugins/bootstrap.min.js")
		// MomentJS
		script(src="/plugins/moment/moment.min.js")
		// daterangepicker
		script(src="/plugins/daterangepicker/daterangepicker.js")
		// AdminLTE App.js
		script(src="/plugins/app.js")
		// VueJS Application Code
		script(src="/build.js")
